name: Build Kivy APK

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git \
            openjdk-17-jdk \
            python3-pip \
            zip unzip \
            autoconf automake libtool \
            pkg-config zlib1g-dev \
            libffi-dev libssl-dev
          git --version

      - name: Install Android SDK
        run: |
          export ANDROID_HOME=$HOME/android-sdk
          mkdir -p $ANDROID_HOME
          cd $ANDROID_HOME

          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
          unzip -q commandlinetools-linux-9477386_latest.zip

          mkdir -p cmdline-tools/latest
          mv cmdline-tools/* cmdline-tools/latest/ || true

          export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$PATH

          yes | sdkmanager --licenses
          sdkmanager \
            "platform-tools" \
            "platforms;android-31" \
            "build-tools;31.0.0"

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Build APK with Buildozer
        run: |
          export ANDROID_HOME=/home/runner/android-sdk
          export ANDROID_SDK_ROOT=/home/runner/android-sdk
          export PATH=$ANDROID_HOME/platform-tools:$ANDROID_HOME/cmdline-tools/latest/bin:$PATH
          which git
          git --version
          buildozer android debug


      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: ORSimulator-debug-apk
          path: bin/*.apk
